

{%- comment -%}
  Badge priority
  1. Out of stock → sold_out
  2. Metafield override → metafield value (percent, coming_soon, etc.)
  3. Discounted price → sale
{%- endcomment -%}

{% assign mf_badge  = product.metafields.custom.badge_type | downcase %}
{% assign badge_text = product.metafields.custom.badge_text %}
{% assign badge_type = '' %}

{%- if product.available == false -%}
  {% assign badge_type = 'sold_out' %}
{%- elsif mf_badge != blank -%}
  {% assign badge_type = mf_badge %}
{%- elsif product.compare_at_price > product.price -%}
  {% assign badge_type = 'sale' %}
{%- endif -%}

{%- unless badge_type == '' -%}
  <div
    class="product-badges product-badges--{{ settings.badge_position }}"
    style="
      --badge-border-radius: {{ settings.badge_corner_radius }}px;
      --badge-font-family: var(--font-{{ settings.badge_font_family }}--family);
      --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight);
      --badge-text-transform: {{ settings.badge_text_transform }};
    "
  >
    {%- case badge_type -%}

      {%- when 'sold_out' -%}
        <div class="product-badges__badge product-badges__badge--rectangle color-{{ settings.badge_sold_out_color_scheme }}">
          {{ 'content.product_badge_sold_out' | t }}
        </div>

      {%- when 'coming_soon' -%}
        <div class="product-badges__badge product-badges__badge--rectangle 
          style="background-color: {{ settings.badge_coming_soon_color_background }}; color: {{ settings.badge_coming_soon_color_text }};">">
          Coming&nbsp;soon
        </div>

      {%- when 'limited_edition' -%}
        <div class="product-badges__badge product-badges__badge--rectangle " 
          style="background-color: {{ settings.badge_limited_edition_color_background }}; color: {{ settings.badge_limited_edition_color_text }};">
          Limited&nbsp;edition
        </div>

      {%- when 'percent' -%}
        {%- assign discount = 100 | times: product.price | divided_by: product.compare_at_price | minus: 100 | abs -%}
        <div class="product-badges__badge product-badges__badge--rectangle color-{{ settings.badge_sale_color_scheme }}">
         <strong>{{ discount }}%&nbsp;OFF</strong> 
        </div>

      {%- when 'sale' -%}
        <div class="product-badges__badge product-badges__badge--rectangle color-{{ settings.badge_sale_color_scheme }}">
          {{ 'content.product_badge_sale' | t }}
        </div>

      {%- when 'custom' -%}
        <div class="product-badges__badge product-badges__badge--rectangle color-{{ settings.badge_sale_color_scheme }}">
          {{ badge_text | default: 'New' }}
        </div>

    {%- endcase -%}
  </div>
{%- endunless -%}


{% stylesheet %}
  .product-badges {
    position: absolute;
    z-index: var(--layer-flat);
    --badge-inset: max(var(--padding-xs), calc((var(--border-radius) + var(--padding-xs)) * (1 - cos(45deg))));
  }

  .product-badges--bottom-left {
    bottom: calc(var(--badge-inset) + var(--padding-block-start));
    left: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges--top-left {
    top: calc(var(--badge-inset) + var(--padding-block-start));
    left: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges--top-right {
    top: calc(var(--badge-inset) + var(--padding-block-start));
    right: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges__badge {
    --badge-font-size: var(--font-size--xs);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-foreground);
    background: var(--color-background);
    font-size: var(--badge-font-size);
    font-family: var(--badge-font-family);
    font-weight: var(--badge-font-weight);
    text-transform: var(--badge-text-transform);
    border-radius: var(--badge-border-radius);
  }

  .product-badges__badge--rectangle {
    padding-block: var(--badge-rectangle-padding-block);
    padding-inline: var(--badge-rectangle-padding-inline);
  }
{% endstylesheet %}